<h1> New Disco</h1>
<%= form_with scope: :disc, url: discos_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :artist %><br>
    <%= form.text_field :artist %>
  </p>
 <p>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', discos_path %>